.botao {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .botao:hover {
    background-color: #0056b3;
  }

  .img-fixa {
    position: fixed;
    bottom: 10px; 
    right: 10px; 
    width: 100px; 
    height: auto;
  }
  
  .som{
    display: none;
  }

  video {
    border: 5px solid #007bff;
    border-radius: 10px;
  }
  